---
import Nav from "@/components/Nav.astro";
---

<header class="fixed top-0 z-50 w-full bg-transparent backdrop-blur-sm">
  <div
    class="container mx-auto flex h-20 items-center justify-between px-4 sm:px-6 lg:px-8">
    <!-- Logo + Hamburguesa -->
    <div class="flex items-center gap-3">
      <button
        id="menu-toggle"
        class="lg:hidden text-text-light dark:text-text-dark">
        <!-- Icono hamburguesa -->
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <svg class="h-8 w-8 text-primary" fill="none" viewBox="0 0 48 48">
        <path
          clip-rule="evenodd"
          d="M24 4H6V17.3333V30.6667H24V44H42V30.6667V17.3333H24V4Z"
          fill="currentColor"
          fill-rule="evenodd"></path>
      </svg>
      <h2 class="text-2xl font-bold text-text-light dark:text-text-dark">
        Nyxion
      </h2>
    </div>

    <!-- Menú de escritorio + botón CTA -->
    <Nav />
  </div>
</header>
