<section
  class="relative h-[65vh] flex items-center justify-center overflow-hidden"
  aria-labelledby="header-title">
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-cover">
    <source src="/assets/video/video3.mp4" type="video/mp4" />
  </video>

  <!-- Capa oscura encima del vídeo -->
  <div class="absolute inset-0 bg-black/60"></div>

  <!-- Contenido centrado -->
  <div class="relative z-10 text-center px-4">
    <h1
      class="text-3xl sm:text-4xl font-extrabold text-white"
      id="header-title">
      Protegiendo tu futuro digital
    </h1>
    <p class="mt-3 text-base text-gray-300 max-w-2xl mx-auto">
      Nyxion Cybersecurity ofrece soluciones integrales para proteger tu negocio
      de las amenazas cibernéticas. Con un enfoque proactivo y tecnología de
      vanguardia, garantizamos la seguridad de tus datos y la continuidad de tus
      operaciones.
    </p>
    <div class="mt-5">
      <a
        href="#servicios"
        class="bg-primary hover:bg-secondary-blue text-white px-5 py-3 rounded-lg shadow-lg">
        Conoce nuestros servicios
      </a>
    </div>
  </div>
</section>
